---
import Layout from '../layouts/Layout.astro'

import { SITE_TITLE, SITE_DESCRIPTION } from '../constants'
import { index } from '../strings'
import Callout from '../components/Callout.svelte'
import Footer from '../components/Footer.svelte'

import graphImg from '../images/graph.svg'
import healthImg from '../images/health.svg'
import shieldImg from '../images/shield.svg'
import Header from '../components/Header.svelte'

const { searchParams } = Astro.url
const { env } = Astro.locals.runtime

const message = searchParams.get('message') || undefined
const url = searchParams.get('url') || ''
const latest = env.LATEST_JQUERY_VERSION
const version = searchParams.get('version')
---

<Layout description={SITE_DESCRIPTION} title={SITE_TITLE}>
  <Header
    client:load
    {url}
    {message}
    {latest}
    version={version === 'null' ? null : version || ''}
  />
  <main
    class="relative flex flex-col items-center justify-center gap-8 px-5 pt-12 pb-24 text-center lg:gap-16"
  >
    <h2>{index.subheader}</h2>
    <div class="flex flex-col justify-center gap-16 md:flex-row lg:gap-32">
      <Callout image={graphImg} description={index.callout1} />
      <Callout image={shieldImg} description={index.callout2} />
      <Callout image={healthImg} description={index.callout3} />
    </div>
  </main>
  <hr class="mx-auto h-[2px] w-[calc(100%-4rem)] max-w-[900px] bg-white" />
  <Footer />
</Layout>
